.backgroundcolor{
-fx-background-color: linear-gradient(to bottom, #fdfcfb 0%, #e2d1c3 100%);}
.loginbutton{
-fx-background-color: linear-gradient(to top, #09203f 0%, #537895 100%);}

.bg-ee{

-fx-background-color: linear-gradient(to top, #dfe9f3 0%, white 100%); }
